<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566282802679-r8e97ujs5n9pk63r225271n1gu7j034f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566282802679-r8e97ujs5n9pk63r225271n1gu7j034f</string>
	<key>API_KEY</key>
	<string>AIzaSyAP2RQ_nURALqUhj8qVXLm_ghC9HftbuRg</string>
	<key>GCM_SENDER_ID</key>
	<string>566282802679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wilhelmbuechner.Homeoffice-App</string>
	<key>PROJECT_ID</key>
	<string>fir-homeoffice-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-homeoffice-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566282802679:ios:7b76b0af9eee558e490af2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-homeoffice-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>